<!-- <div class="content_container"> -->
  <!-- <div class="content_header"> -->
 <!--    <p class="site1_title">
     <b>
       <%= @location.name %>
     </b>
    </p>
    <p class="site1_desc">
     <b>
       <%= @location.description %>
     </b>
    </p>
  </div>
  <hr/>
 -->
<!--   <%= render #'form' %>
 --><!-- </div> -->

 <!-- THIS IS THE SAME AS _show.html.erb -->