<div class="main_container">	
  <div class='map_div'>

  	<!-- 	this is the main map area -->	
		<div id='map'> </div>
    <!-- end of map area     -->
	</div>

	<div class="content_div">

    <!-- this is the welcome note, hidden on first location click -->
    <div id="welcome">
      <img class="bird_on_it" src="assets/cctv_camera1.png"> 
      <div id="welcome_title">
        <p class="welcome_title_top">On Camera:</p>
        <p class="welcome_title_bottom">The Watchmen</p>
      </div>
      <p class="welcome_subtitle">Click on the marker at your location, enter your name and comment.</p> 
    </div>
	</div>
</div>

<script>
  // TO DO - does G analytics go here?

</script>